-r requirements.txt

# -----------------------------
# Testing
# -----------------------------
pytest
pytest-asyncio
pytest-cov

# -----------------------------
# Code Quality
# -----------------------------
black
ruff
isort

# -----------------------------
# Type Checking
# -----------------------------
mypy

# -----------------------------
# Pre-commit Hooks
# -----------------------------
pre-commit


# -----------------------------
# DB Libs
# -----------------------------
sqlalchemy 
asyncpg 
alembic
psycopg